.mobile-dropdown-menu-btn{
    background-color: transparent;
    border: 0;
}

.mobile-dropdown-menu-btn span{
    color: #FBB700 ;
}

.mobile-dropdown-menu{
    overflow: hidden;
    
}

.mobile-dropdown-menu-inactive{
    transition: 1s ;
    height: 0;
    opacity: 0;
    padding: 0;
}

.mobile-dropdown-menu-active{
    height: 300px;
    opacity: 1;
    /* visibility: visible; */
    padding: 0 80px;
    transition: 1s ;
}

.dropdown-nav-box{
    background-color: white;
}
.dropdown-nav-box #nav{
    text-align: center;
}

.dropdown-nav-box li{
    padding: 10px 20px;
    border-bottom: 0.5px solid rgb(209, 209, 209);
    text-align: start;
}

.dropdown-nav-box li a{
    color: gray;
    font-weight:700;
}

@media (max-width:375px) {
    .mobile-dropdown-menu-active{
        padding: 0 50px;
   
    }
}
